[Unit]
Description=Gunicorn instance to serve my Flask application

[Service]
ExecStart=/bin/bash -c "gunicorn --workers 3 --access-logfile /tmp/airbnb-access.log --error-logfile /tmp/airbnb-error.log --bind 0.0.0.0:5003 home/ubuntu/AirBnB_clone_v4.web_dynamic.2-hbnb:app"
ExecStop=/bin/bash -c "pgrep gunicorn | xargs kill"
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
